/* selector color property */
/* priority bottom to up */
h1{
    color: brown;
    font-size: 60px;
    font-style: italic;
}  
p{
    color: blue;
    font-size: 18px;
    font-style: oblique;
}
div{
    width: 200px;
    height: 200px;
    background: aqua;
    margin-bottom: 20px;
}
div p{
    color: black;
}
.text-bk{
 color: red;
 text-align: center;  
 background-color: aqua ; 
}
.first-div{
background-color: blue;
margin: 0;
text-align: center;
border: 20px;
}
.first-div p{
    color: azure;
}
#big-div{
    width: 400px;

}
.hi{
    text-align: center;
    text-decoration: none;
    color: red;

}
.ef{
    text-align:right;
    color: tomato;
}